
*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	text-decoration: none;
}
body{
	background-image: url(背景1.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;

}

.nav{
	width: 1200px;
	height: 93px;
	background-color: #ffffff;
	margin: 0 auto;
	border-bottom:3px solid #383838
}



#logo{
	width:200px;
	height: 70px;
	background: #ffffff;
	color:#aa0000;
	float: left;
	font:1.6em Arial, Helvetica, sans-serif;
	padding-left:50px;
	padding-top: 30px;
}
#nav{
	width:700px;
	height: 100px;
	float: right;
}
#nav ul {margin: 0px;padding: 0px;list-style: none;float: left;}
#nav ul li {
	float:left;
	width: 340px;
	height: 100px;
	display: inline;
	list-style: none;
	float:left;
	font:1.4em Arial, Helvetica, sans-serif;
	transition: all 0.5s;
}
#nav ul li a {
	text-decoration: none;
	text-align:center;
	color:#aa0000;
	width:140px;
	margin:0px;
	padding: 0px 0px 0px 8px;
	display:block;
	background-color: #ffffff;
	line-height: 90px;
	border-bottom:3px solid #383838;
}
#nav ul li ul li{height: 0px;}
#nav ul li ul li a{
	background: #FFFFFF;
	opacity:0.85;
	line-height: 65px;
	font-size:0.7em;
}
#nav ul li a:hover{
	border-bottom:3px solid #e50000;
}
#nav ul li ul {
	visibility: hidden;
}
#nav ul li:hover ul li{
height: 70px;
	visibility: visible;
	transition: all 0.3s;
}
#nav ul li ul li a:hover{
	background: #710001 ;
	color: #FFFFFF;
}
/* 图片切换 */

.current{
	background-color: white;
}
.wrapper {
	position: relative;
	width: 1200px;
	height: 2200px;
	background-color: pink;
	margin: 0px auto;
	overflow: hidden;
}
.img_wrapper {
	position: absolute;
	top: 0;
	width: 400%;
	height: fit-content;
}
.img_wrapper > li {
	float: left;
	width: fit-content;
	height: fit-content;
}
.img_wrapper > li > img {
	width: 1200px;
	height: 2200px;
}
.wrapper a {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 50px;
	margin-top: -25px;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 3;
	display: none;
}

.wrapper1 {
	position: relative;
	width: 1200px;
	height: 600px;
	background-color: pink;
	margin: 0px auto;
	overflow: hidden;
}
.img_wrapper1 {
	position: absolute;
	top: 0;
	width: 400%;
	height: fit-content;
}
.img_wrapper1 > li {
	float: left;
	width: fit-content;
	height: fit-content;
}
.img_wrapper1 > li > img {
	width: 1200px;
	height: 600px;
}
.wrapper1 a {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 50px;
	margin-top: -25px;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 3;
	display: none;
}


.circle {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	bottom: 10px;
	left: 50%;
	background-color: rgba(245, 245, 245, 0.4);
	padding: 2px 5px;
	border-radius: 5px;
}
.circle > li {
	width: 9px;
	height: 9px;
	border-radius: 50%;
	border: 1px solid white;
	margin: 0 3px;
	cursor: pointer;
}

.xiangqingtitle{ /*这是标题部分*/
	width: 1200px;
	height: 100px;
	background-color: #fafafa;
	margin: auto;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 50px;
	font-weight: 800;
	text-align: center;
	padding-top: 20px;
}

.cont{/*正文部分*/
	width: 1200px;
	font-family: 宋体;
	background-color: #fafafa;
	margin: auto;
	font-size: 20px;
	line-height: 50px;
	margin-bottom: 100px;
	text-align: center;
}





#Select{
	width: 1200px;
	margin: 0 auto;
	/* border: ipx solid black; */
}
.title{
	height: 50px;
	font-size: 40px;
	font-family: 黑体;
	margin: 10px;
}
.title_p{
	height:30px ;
	font-size: 20px;
	font-family: 'Times New Roman', Times, serif;
	color: #AAAAAA;
	margin-bottom: 30px;
}

.box{
	width: 1200px;
	height: 500px;
	/* border: 1px solid black; */
	text-align: center;
	margin: 20px auto;
	display: flex;
	justify-content: space-between;
}
.box .list{
	width: 540px;
	height: 470px;
	float: left;
	background-color: #FAFAFA;
}
.box .list img{
	width: 540px;
	height: 250px;
	box-shadow: 1px #D3D3D3;
	margin: 20px auto;
}
.box .list:hover {
	box-shadow: 10px 10px 10px 10px #D3D3D3;
	transform: scale(1.1);
	transition: all 1s;
}
.information1{
	font-size: 20px;
	font-family:黑体 ;
	margin: 20px;
	color: black;
}
.information2{
	font-size: 15px;
	font-family: 宋体;
	color: #999999;
	margin: 10px;
	line-height: 40px;
}



.navbar{
	position: fixed;
	z-index: 10;
	height: fit-content;
	width: fit-content;
	right: 1%;
	bottom: 5%;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
}
.navbar > div{
	width: 100px;
	height: 50px;
	margin: 5px;
	background-color: blanchedalmond;

}
.navbar_ToTop{
	text-decoration: none;
	position: fixed;
	right: 10%;
	bottom: 5%;
	z-index: 10;
	width: 100px;
	height: 100px;
}
.navbar_ToTop > a > img{
	width: 100%;
}

#biaoti{
	float: left;
	height: 150px;
	width: 600px;
	padding-top: 60px;
	margin-left: 10px;
}
#biaoti biao{
	font-size:2em;
	margin-top: 20px;
}