*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	text-decoration: none;
}
body{
	background-image: url(../img/背景1.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;

}
/* 张堃茹:导航栏 */
.nav{
	width: 1200px;
	height: 93px;
	background: #ffffff;
	margin: 0 auto;
	border-bottom:3px solid #383838
}

#logo{
	width:200px;
	height: 70px;
	background: #ffffff;
	color:#aa0000;
	float: left;
	font:1.6em Arial, Helvetica, sans-serif;
	padding-left:50px;
	padding-top: 30px;
}
#nav{
	width:700px;
	height: 100px;
	float: right;
	/*background: #FFFFFF;*/
}
#nav ul {
    width: 100%;
	height: 100%;
}
#nav ul li {
	float:left;
	width: 140px;
	height: 100px;
	list-style: none;
	font:1.4em Arial, Helvetica, sans-serif;
	transition: all 0.5s;
}
#nav ul li a {
	text-align:center;
	color:#aa0000;
	width:140px;
	margin:0px;
	padding: 0px 0px 0px 8px;
	display:block;
	/*
	background-color: #f7f7f7#ffffff;*/
	line-height: 90px;
	border-bottom:3px solid #383838;
}
#nav ul li ul li{
	height: 0px;
}
#nav ul li ul li a{
	background: #FFFFFF;
	opacity:0.85;
	line-height: 65px;
	font-size:0.7em;
}
#nav ul li a:hover{
	border-bottom:3px solid #e50000;
}
#nav ul li ul {
	visibility: hidden;
}
#nav ul li:hover ul li{
    height: 70px;
	visibility: visible;
	transition: all 0.3s
}
#nav ul li ul li a:hover{
	background: #710001 ;
	color: #FFFFFF;
}
/* 图片切换 */

.current{
	background-color: #f7f7f7;
}
.wrapper {
	position: relative;
	width: 1200px;
	height: 500px;
	background-color: #f7f7f7;
	margin: 0px auto;
	overflow: hidden;
}
.img_wrapper {
	position: absolute;
	top: 0;
	width: 400%;
	height: fit-content;
}
.img_wrapper > li {
	float: left;
	width: fit-content;
	height: fit-content;
}
.img_wrapper > li > img {
	width: 1200px;
	height: 500px;
}
.wrapper a {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 50px;
	margin-top: -25px;
	background-color: #f7f7f7;
	z-index: 3;
	display: none;
}
.prev {
	left: 0;
	background: url("../img/source/left.png") no-repeat center;
	background-size: 100% 100%;filter: grayscale(100%);
}
.next {
	right: 0;
	background: url("../img/source/right.png") no-repeat center;
	background-size: 100% 100%;filter: grayscale(100%);
}
.circle {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	bottom: 10px;
	left: 50%;
	background-color: rgba(245, 245, 245, 0.4);
	padding: 2px 5px;
	border-radius: 5px;
}
.circle > li {
	width: 9px;
	height: 9px;
	border-radius: 50%;
	border: 1px solid white;
	margin: 0 3px;
	cursor: pointer;
}
#Select{
	width: 1200px;
	margin: 0 auto;
	backdrop-filter: blur(100px);
	/* border: ipx solid black; */
}
.box{
	width: 1200px;
	height: 500px;
	/* border: 1px solid black; */
	text-align: center;
	margin: 20px auto;
	display: flex;
	justify-content: space-between;
}
.box .list{
	width: 280px;
	height: 470px;
	float: left;
	backdrop-filter: blur(100px);
	transition: 0.25s ease;
}
.box .list img{
	width: 280px;
	height: 200px;
	box-shadow: 1px #D3D3D3;
	margin: 20px auto;
}
.box .list:hover {
	transform: scale(1.1);
}
.box .list:hover .information2{
	color: black;
}
#biaoti{
	float: left;
	height: 150px;
	width: 600px;
	padding-top: 60px;
	margin-left: 50px;
}
#biaoti biao{
	font-size:2em;
	margin-top: 20px;
}
#jiangpaishu {
	width: 1200px;
	height: 800px;
	margin: 20px auto ;	
	backdrop-filter: blur(100px);
}
#jiangpaishu a {
	display:block;
	text-decoration: none;
	color: #ffffff;
	font-size: 1.5em;
} 


.pic{
	width: 400px;
	height:800px;
	filter: brightness(50%);
	transition: all 0.7s;
}
#image_huojiang{
	width: 500px;
	height: 800px;

	background: url(../img/index_picture/123.jpg);
	background-size: 100% 100%;
	float: left;
}
.information1{
	font-size: 35px;
	font-weight: 500;
	font-family:黑体 ;
	margin: 20px;
	color: black;
}
.information2{
	text-indent: 2em;
	font-size: 20px;
	font-family: 宋体;
	color: #999999;
	margin: 10px;
	line-height: 25px;
}
#huojiang{
	width: 1200px;
	height: 800px;
	margin: auto;

}
#huojiangtext{
	width: 700px;
	height: 800px;
	backdrop-filter: blur(100px);
	background-size: 100% 100%;
	float: left;
}
#daibiao{
	float: left;
	width: 600px;
	height: 300px;
	background: url(../img/index_picture/daibiao.jpg);
	background-size: 100% 100%;
	margin-left: 50px;
	margin-top: 50px;
}
#jiangpai1{
	position: relative;
	width: 400px;
	height: 800px;
	float: left;
	overflow: hidden
}
#jiangpai1:hover .pic{
	width: 430px;
	height: 860px;

}
#huojiang1{
	width: 600px;
	height: 300px;
	margin-left: 50px;
	float: left;
	padding-top: 100px;
	text-indent: 2em;
}
#huojiang1 biao{
	font-size:1.5em;
	color: black;
	line-height: 40px;
}
#topic{
	width: 200px;
	height: 400px;
	float: center;
	position: absolute;
	left: 100px;
	top: 200px;
	text-align:center;
	padding-top:150px;
}

.navbar{
	position: fixed;
	z-index: 10;
	height: 300px;
	width: 50px;
	right: 15%;
	bottom: 5%;
	background-color: #710001;
}